# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
sdist/
var/
wheels/
lib/
lib64/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
.htmlcov/
.tox/
.nox/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environment files
.env
.venv
env/
venv/

# Mac file
.DS_Store